@import url("https://fonts.googleapis.com/css?family=Lexend+Deca");
@import url("https://fonts.googleapis.com/css?family=Big Shoulders Display");

* {
  box-sizing: border-box;
}

main {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  background-color: white;
}

#heading {
  padding-top: 10%;
  color: hsl(0, 0%, 95%);
  font-family: Big Shoulders Display;
  font-weight: 700;
}

img {
  padding-top: 7%;
}

.content {
  padding-left: 20%;
  padding-top: 10%;
  padding-bottom: 10%;
}
/*paragraphs*/

#first {
  padding-top: 5%;
  color: hsla(0, 0%, 100%, 0.75);
  font-family: Lexend Deca;

  font-weight: 400;
}

#box1 {
  /*width: 375px;
  height: 450px;*/
  width: 100%;
  height: auto;
  background-color: hsl(31, 77%, 52%);
  color: white;
  border-top-left-radius: 2%;
  border-bottom-left-radius: 2%;
}

#box1 button {
  color: hsl(31, 77%, 52%);
  background-color: hsl(0, 0%, 95%);
  text-align: center;
  text-decoration: none;
  border-radius: 35px;
  border: none;
  font-size: 15px;
  width: 80%;
  height: 40px;
  font-weight: 700;
}

/*box2*/
#box2 {
  /*width: 375px;
  height: 450px;*/
  background-color: hsl(184, 100%, 22%);
  color: white;
  width: 100%;
}

#box2 button {
  color: hsl(184, 100%, 22%);
  background-color: hsl(0, 0%, 95%);
  text-align: center;
  text-decoration: none;
  border-radius: 35px;
  border: none;
  font-size: 15px;
  width: 80%;
  height: 40px;
  font-weight: 700;
}

/*box 3*/
#box3 {
  /* width: 375px;
  height: 450px;*/
  background-color: hsl(179, 100%, 13%);
  color: white;
  border-top-right-radius: 2%;
  border-bottom-right-radius: 2%;
  width: 100%;
  height: auto;
}

.bt {
  padding-top: 30%;
}

#box3 button {
  color: hsl(179, 100%, 13%);
  background-color: hsl(0, 0%, 95%);
  text-align: center;
  text-decoration: none;
  border-radius: 35px;
  border: none;
  font-size: 15px;
  width: 80%;
  height: 40px;
  font-weight: 700;
}

.flex-container #button:hover {
  color: white;
  background-color: transparent;
  border: 2px solid hsl(0, 0%, 95%);
}

body {
  font-size: 15px;
}

a{
 text-decoration: none;
 color: orange;
 background-color: black;
 font-size: large;
  
}
